/*
#products .product-miniature, .featured-products .product-miniature, .product-accessories .product-miniature, .product-miniature .product-miniature{
    margin-bottom: 80px;
}*/
.payment_description h2 {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.payment_description ul {
    margin-left: 10px;
    margin-bottom: 14px;
}
.payment_description li {
    
}